.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.search-input {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  width: 200px;
  background-color:#C5F1F8
}

.search-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  color: #F4F6FA;
  cursor: pointer;
}

.search-button:hover {
  background-color: #6BD9E7;
}

@media (max-width: 1024px) {
  .search-button {
    display: none;
  }
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  margin: 2rem 1rem;
  max-width: 1200px;
}

.poster-grid img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 2 / 3;
}

footer {
  text-align: left;
  padding: 1rem;
  background-color: #1c2541;
  font-size: 0.9rem;
  line-height: 1.4;
  width: 100%;
  margin-top: 1rem;
}


@media (min-width: 768px) {
  .poster-grid {    
    border-radius: 1.3rem;  
    grid-template-columns: repeat(6, 1fr);
  }

  .search-bar input {
    width: 200px;
  }
}