.location-div {
    display: flex;
    justify-content: center;
    align-items: center;       
}

.location-card {
    border-radius: 1rem;     
    background-color: #1C2541; 
    justify-content: center;
    align-items: center;
    color: #F4F6FA;              
    padding: 2rem;            
    text-align: center;       
}

.location-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;                
    margin-top: 1rem;
}

.location-items div {
    border: 1px solid #92EEFF;
    border-radius: 0.3rem;
    width: 10rem
}
