.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.search-input {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  width: 200px;
  background-color:#C5F1F8
}

.search-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  color: #F4F6FA;
  cursor: pointer;
}

.search-button:hover {
  background-color: #6BD9E7;
}

@media (max-width: 1024px) {
  .search-button {
    display: none;
  }
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  margin-bottom: auto;
  margin-top: 2rem;
}

.poster {
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 0.7rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #14294D;
  font-size: 0.9rem;
  line-height: 1.4;
  width: 100%;
  border-top: 1px solid #1C2541;
}

@media (min-width: 768px) {
  .poster-grid {
    grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));
  }

  .search-bar input {
    width: 200px;
  }
}