.location-div {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;       
}

.location-card {
    border-radius: 1rem;     
    background-color: #1C2541; 
    justify-content: center;
    align-items: center;
    color: #F4F6FA;              
    padding: 2rem;            
    text-align: center;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);     
}

.location-items { 
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    gap: 0.7rem; 
    margin-top: 1rem; 
}

.location-item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F6FA;
    border: 1px solid #92EEFF;
    border-radius: 0.3rem;
    padding: 0.5rem 0;
    width: 10rem;
    text-align: center;
    transition: all 0.2s ease;
}


.location-item:hover {
    background-color: #92EEFF;
    color: #1C2541;
}

.active {
    background-color: #92EEFF;
    color: #0C1B33;
}

@media (min-width: 768px) {
    h2 {
        font-size: 1.9rem;
    }

    .location-card {
        height: 23rem;
        width: 22rem;
    }

    .location-items {
        gap: 1.7rem;
        margin-top: 2rem
    }

    .location-item {
        padding: 0.8rem 0;
        width: 12rem;
        font-size: 1.4rem;
    }
}