.dates-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
  margin: 1rem 0;
  background-color: #92EEFF1A

}

.dates-container::-webkit-scrollbar {
  display: none;
}

img {
  width: 50%;
  border-radius: 0.7rem;
}

.date-item {
  flex: 0 0 auto; /* prevent shrinking */
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 2rem;
}

.date-item:hover {
  border-bottom: 1px solid #92EEFF;
}

.date-item.selected {
  color: white;
  border-bottom: 1px solid #92EEFF;
}

.showtimes-container {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-left: 2.5rem;
}

.showtime-item {
  padding: 0.5rem 1rem;
  background-color: #92EEFF1A;
  border-radius: 6px;
  cursor: pointer;
}

.showtime-item:hover {
  border: 1px solid #92EEFF;
}

@media (min-width: 1024px) {
  .date-item {
    margin-left: 4rem;
    font-size: 1.4rem;
  }

  .showtime-item {
    font-size: 1.4rem;
  }

  .showtimes-container {
    margin-left: 4.5rem;
  }
}
