.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1c2541;
}

.menu {
    font-size: 2.2rem;
    cursor: pointer;
}

.logo {
    height: 6rem;
    width: auto;
    border-radius: 0;
}

footer {
  text-align: left;
  padding: 1rem;
  background-color: #1c2541;
  font-size: 0.9rem;
  line-height: 1.4;
  width: 100%;
  margin-top: 1rem;
}