.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-container {
    background: #1a2340;
    padding: 1rem 2.3rem 2rem 2rem;
    border-radius: 10px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.popup-container h3 {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.popup-container input {
    width: 100%;
    padding: 0.5rem;
    margin: 1.2rem 0;
    border: 1px solid #92EEFF;
    background-color: #C5F1F8;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(40, 35, 89);
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 0 2px #8cc9e8;
}

.popup-container button {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.popup-container button:hover {
    opacity: 0.9;
}

.popup-container button:first-of-type {
    background-color: #A0AEC0;
    color: #0C1B33;
}

.popup-container input::placeholder {
    color: #707885;
}

@media (min-width: 768px) {
    .popup-container {
        width: 25rem;
    }
}

