.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* dim background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-container {
    background: #0C1B33;
    border: 1px solid #92EEFF;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.popup-container h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.popup-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #92EEFF;
    background-color: #92EEFF;
    border-radius: 5px;
    font-size: 1rem;
}

.popup-container button {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.popup-container button:hover {
    opacity: 0.9;
}

.popup-container button:first-of-type {
    background-color: #A0AEC0;
}


