.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.error-card {
    border-left: 5px solid #d32f2f;
    padding: 20px;
    text-align: center;
    background-color: #ffebee;
    color: #b71c1c;
    box-shadow: 0 4px 15px rgba(211, 47, 47, 0.1);
}

h1 {
    line-height: 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.ticket-title {
    color: #1C2541;
}

.ticket-card {
  width: 25rem;
  margin: 2rem;
  background: #C5F1F8;
  border-radius: 20px;
  overflow: hidden;
}

.ticket-top {
  padding: 20px;
}

.ticket-info {
    margin: 0 2rem;
}

.ticket-detail {
  text-align: left;
  margin-bottom: 8px;
}
.ticket-detail strong {
  display: block;
  color: #1C2541;
}
.ticket-detail p {
  margin: 0;
  color: #1C2541;
}

.ticket-div {
    display: flex;
    justify-content: space-between;
}

.ticket-date-box {
  background: #1891BE;
  color: #1C2541;
  padding: 10px 14px;
  border-radius: 10px;
}
.ticket-date-day {
  font-size: 2rem;
  font-weight: 800;
  color: #C5F1F8;
}
.ticket-date-month {
  font-size: 1.3rem;
  font-weight: 550;
  color: #C5F1F8;
}

.ticket-bottom {
  background: #1891BE;
  padding: 20px;
  text-align: center;
  color: #1C2541;
}
.ticket-code {
  margin-bottom: 10px;
  font-weight: 600;
}

.barcode {
    border-radius: 0;
    width: 14rem;
}

