.staffNavBar {
  background: #1C2541;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.staffNavTextBlock {
  flex: 2;
  text-align: center;
}

.staffNavLogo {
  width: 80px;
  height: auto;
  left: 0;
  flex-shrink: 0;
  margin-left: 0;
}

.staffNavTheaterName {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.staffNavPageTitle {
  font-size: 1rem;
  color: #F4F6FA;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 480px) {
  .staffNavBar {
    padding: 2rem 1rem;
  }

  .staffNavTheaterName{
    font-size: 1.4rem;
  }

  .staffNavPageTitle {
    font-size: 1rem;
  }

  .staffNavLogo{
    width: 60px;
  }
}
